a {
  text-decoration: none;
  color: #0051c9;
  background-color: #d4f0f9;
}

body {
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: 600;
}

.container {
  display: flex;
  width: 100%;
}

.intro {
  align-content: center;
}

.bio {
  float: "left";
  width: 100%;
}

.profile {
  width: 100%;
  max-width: 100%;
  height: auto;
  float: right;
}
