<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  {% include head.html %}
  {% include google_analytics.html %}
  {% include quantcast.html %}


  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
  {% endif %}

  <body>

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ site.title }}</a>

          {% for page in site.pages_list %}
              &nbsp;&nbsp;&nbsp;<small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
          {% endfor %}
        <a href="http://github.com/sidharthgoel" title="GitHub">sdf<i class="github fa fa-github"></i></a>

        </h3>
      </div>

      {{ content }}

      {% include comments.html %}

      <div class="footer">
        <p>
          <a href="atom.xml">Feed</a> &copy; {{ site.time | date: '%Y' }} Sidharth Goel 
        </p>
      </div>
    </div>

  </body>
</html>
